/* src/components/nav/Nav.css */
.logo {
    width: 60px; 
    height: auto;
  }
  
.nav-link {
    color: white !important; 
    background-color: #6FA3EF !important; /* Naranja vivo */
    font-weight: bold;
    border-radius: 8px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
}

.nav-link:hover {
    background-color: #90CAF9 !important; /* Naranja más oscuro al hacer hover */
}


  .navbar-brand {
    display: flex;
    align-items: center;
  }
  